html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1 {
  margin: 0;
  padding: 1rem;
}

#game-container {
  flex: 1;
  min-height: 0;
}

#game {
  display: block;
  border: rgb(58, 58, 58) 1px solid;
}
